.personalized-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.personalized-message .personalized-message__label {
    margin-bottom: 4px;
}

.personalized-message .personalized-message__textarea {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
}

.personalized-message .personalized-message__char-info {
    color: #555;
    font-size: 12px;
}